/*NAVBAR******************************************************************/
nav a{
  font-size: 25px;
}

.navbar-brand{
  font-size: 35px;
  font-weight: bold;
}

/*BUSCAR*******************************************************************/
.base{
  display: flex;
  height: 600px;
  width: 600px;
  justify-content: space-around;
  align-items: center; flex-direction: column; border-radius: 7px; background-color: red; border: 3px solid #6d1010; box-shadow: 10px 10px 5px rgb(163, 163, 163); }

.buscador{
  display:flex;
  margin-top: 25px;
  align-self: center;
  width: 350px;
  justify-content: space-between;
  
}

.pantalla-1{
  display:flex;
  height: 200px;
  width: 350px;
  border-radius: 7px;
  justify-content: center;
  align-self: center;
  background-color: white;
  border: 2px solid #000000;
  box-shadow: 3px 3px 2px rgb(102, 102, 102) inset;
}

.modalBackground{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.modalContenedor{
  width: 500px;
  height: 50px;
  background-color: red;
  border-radius: 7px;
  border: 2px solid #000000;
  box-shadow: 3px 3px 2px rgb(102, 102, 102);

}

.imagenPKM{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.DatosPokemon{
  height: 300px;
  width: 350px;
  background-color: white;
  border-radius: 7px;
  border: 2px solid #000000;
  box-shadow: 3px 3px 2px rgb(102, 102, 102) inset;
}

.DatosPokemon h1{
  margin: 20px;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
}

.habilidades {
  text-decoration: underline;
}

/*LISTADO***************************************************/ 

.infinite-scroll-container{
  margin: auto;
  width: 90%;
  height: 50em;
  overflow: auto;
}



/*CARD***************************************************/ 

.card{
  border: black solid 1px;
  margin: 15px;
  width: 250px;
  overflow: hidden;
}

/* .card:hover{
  background-color: rgb(49, 92, 147);
  filter: blur(3px);
  transition: 0.5s filter linear;

} */

.card img:hover{
  transform: scale(1.2);
  transition: 0.5s transform;
}

.card:hover{
  background-color: rgb(104, 140, 175);
  transition: 1s
}