/*APP**************************************************************/
.App{
  background-image: url('../img/cloud-sky-atmosphere-plant-green-world-1994241-wallhere.com.jpg');
  height: 100vh;
  width: 100vw;
}
/*NAVBAR******************************************************************/
nav a{
  font-size: 25px;
}

.navbar-brand{
  font-size: 35px;
  font-weight: bold;
}

/*BUSCAR*******************************************************************/
.base{
  display: flex;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  height: 600px;
  width: 600px;
  align-items: center; flex-direction: column; border-radius: 7px; background-color: red; border: 3px solid black; }

.buscador{
  display:flex;
  margin: 25px 10px 25px 10px;
  align-self: center;
  width: 90%;
}

.BoxImagenPokemon{
  margin: 5px;
  height: 300px;
  width: 350px;
  background-color: white;
  border-radius: 7px;
  border: 2px solid #000000;
  box-shadow: 3px 3px 2px rgb(102, 102, 102) inset;
  overflow: hidden;
}

.BoxImagenPokemon img{
  width: 350px;
  height: auto;
}

.BoxDatosPokemon{
  margin: 5px;
  height: 150px;
  width: 350px;
  background-color: white;
  border-radius: 7px;
  border: 2px solid #000000;
  box-shadow: 3px 3px 2px rgb(102, 102, 102) inset;
}

.BoxDatosPokemon p{
  margin: 20px;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
}

/*LISTADO***************************************************/ 

.infinite-scroll-container{
  margin: auto;
  margin-top: 20px;
  width: 1500px;
  height: 810px;
  overflow: auto;
  border: burlywood solid 6px;
  background-color: burlywood;
  border-radius: 7px;
}



/*CARD***************************************************/ 

.card{
  border: black solid 1px;
  margin: 15px;
  width: 250px;
  overflow: hidden;
}

.clickme{
  display: none;
}

.card:hover img{
  transform: scale(1.2);
  transition: 0.5s transform;
}

.card:hover{
  background-color: rgb(104, 140, 175);
  transition: 1s;
}

.card:hover .card-title{
  color: white;
  transition: 0.5s;
}
