Body {
  background-color: rgb(228, 228, 228);
}

.App{
  display:flex;
  width:100vw;
  height:100vh; 
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}

.base{
  display: flex;
  height: 400px;
  width: 500px;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 7px;
  background-color: red;
  border: 3px solid #6d1010;
  box-shadow: 10px 10px 5px rgb(163, 163, 163);
}

.buscador{
  display:flex;
  margin-top: 25px;
  align-self: center;
  width: 350px;
  justify-content: space-between;
  
}

.pantalla-1{
  display:flex;
  height: 200px;
  width: 350px;
  border-radius: 7px;
  justify-content: center;
  align-self: center;
  background-color: white;
  border: 2px solid #000000;
  box-shadow: 3px 3px 2px rgb(102, 102, 102) inset;
}

.imagenPKM{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.DatosPokemon{
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
}